
.container{
	max-width:960px;		
}

button:focus { 
	outline:0 !important; 
}

.jumbotron{
	text-align:center;
	background:#665f81;
	padding-top:0px;
	padding-bottom:0px;
	color:#fff;
}

.jumbotron h1{
	color:#fff;	
	font-size:50px;
}

.bmd-field-group{
	padding-top:0px;
}

.padup .bmd-field-group{
	margin:20px auto auto auto;
	padding-top:10px;
	width:80%;
}

.panel{
	width:80%;
	margin:20px auto auto auto;
}


.p-end{
	display:none;
}


.clear{
	clear:right;
}


.home-btn {
	margin-top:10px;
	text-align:left;
}


.navbar-inverse {

	border-color:#544e6b;	
	background-color:#544e6b;
}

#my_centered_buttons { 
	margin:10px 0;
	display: flex; justify-content: center; 
}

@media (min-width: 768px){

.navbar-nav>li>a {

color:#fff;

}

.navbar-nav>li>a:hover {

background:none;
color:#eee;
}

.navbar-nav>li>a:focus {

background:none;
color:#eee;
}

}


.navbar-brand {
	
color:#fff;
	
}



.navbar-brand:hover{
	
	color:#fff;
}
.navbar-brand:focus{

	color:#fff;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {

font-weight:bold;

}
.emojioneemoji{
	font-size: inherit;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
}


.bmd-input{

color:#000;
}


a{
color:#333;
}

a:hover{
color:#333;
text-decoration:none;
}